* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background {
    background-color: #d5e5fe;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: #218595;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

.display {
    color: #627ca5;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 33% 34% 33%;
    max-width: 300px;

}

.tile {
    border:  solid rgb(94 162 189);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.playerX {
    color: #6009c3;
}

.playerO {
    color: #498AFB;
}

.tie{
    color: #FF3860;
}
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #2b5b7a;
}